@{
    ViewBag.Title = "Main Menu";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>
            Click the button below to view, add, edit and delete bookings to handle import, export and transshipment processing to gate operations
        </p>
        <p><a class="btn btn-outline-info" href="~/Bookings/Index">View Booking &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Container</h2>
        <p>Click the button below to view, add, edit and delete containers to handle import, export and transshipment processing to gate operations</p>
        <p><a class="btn btn-outline-info" href="~/Containers/Index">View Container  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ships</h2>
        <p>Click the button below to view, add, edit and delete ships to handle import, export and transshipment processing to gate operations</p>
        <p><a class="btn btn-outline-info" href="~/Ships/Index">View Ships &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Warehouse</h2>
        <p>Click the button below to view, add, edit and delete warehouses to handle import, export and transshipment processing to gate operations</p>
        <p><a class="btn btn-outline-info" href="~/Warehouses/Index">View Warehouse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ship Yards</h2>
        <p>Click the button below to view, add, edit and delete ship yards to handle import, export and transshipment processing to gate operations</p>
        <p><a class="btn btn-outline-info" href="~/ShipYards/Index">View Ship Yards &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>Click the button below to view, add, edit and delete Employees to handle import, export and transshipment processing to gate operations</p>
        <p><a class="btn btn-outline-info" href="~/Employees/Index"> View Employee &raquo;</a></p>
    </div>
</div>


<!--href="https://go.microsoft.com/fwlink/?LinkId=301866"-->